.slider-decorator-2 {
   position: absolute !important;
   width: 80% !important;
   margin: 100px 10% 0 10% !important;
   top: 40% !important;
   left: 40% !important;
}

figure img {
   width: 100% !important;
}

figcaption {
   margin: 0 !important;
}

.slider-frame {
   margin: 57px !important;
}

.left-side-div {
    width: 300px !important;
}

/*.slider-decorator-1{
    right: 60px !important;
}*/

h1 {
    font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
    font-family: "Arial", Gadget, sans-serif;
}

h3 {
    font-family: "Arial Black", Gadget, sans-serif;
}

h5 {
    font-family: "Arial", Gadget, sans-serif;
    text-align: left;
}

.title-div {
    float: 'left' !important;
     text-align: 'left' !important;
}

.twitch-1 {
    padding-right: 65px;
    padding-bottom: 10px;
}

.twitch-2 {
    padding-right: 65px;
    padding-bottom: 10px;
}

.red {
    color: red
}

